<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console">
		<PatternLayout pattern="%highlight{[%-5level]} %style{%c{10}.%M()}{yellow} %style{(%c{1}:%L)}{cyan} %n\t >>> %msg %n" disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
